/*  your css code here. If applicable */
.middle{
    margin: auto;
    width: 100%;
}
 
.center{
    text-align: center;
}
 
.right{
    text-align: right;
}
 
table{
    border: 1px solid black;
    border-spacing: 1px;
}
 
td{
    padding: 1px;
    border: 1px solid black;
}
 
.green{
    background-color: green;
	height:25px;
}
 
.blue{
    background-color: blue;
	height:25px;
}

#t-image{
	width:0px;
}